<div class="col-md-8 blog-main">

  <%= render @blogs %>

  <nav class="blog-pagination">
    <a class="btn btn-outline-primary" href="#">vor</a>
    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">zurück</a>
  </nav>
</div>


