<div class="album py-5 bg-light">
  <div class="container">
    <div id="portfolios" class="row sortable" data-controller="drag">
      <% # manually say, that it's a partial; collection tells Rails the type %>
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>