<header class="masthead mb-auto">
  <div class="inner">
    <%= image_tag "Kaifutriteamlogo-4.png", class: "ktt-button"%>
    <h3 class="masthead-brand"><strong>Kaifu Tri Team</strong></h3>
    <nav class="nav nav-masthead justify-content-center app-nav">
      <%= nav_helper 'nav-link', 'span' %>
      <span><%= login_helper 'nav-link' %></span>
    </nav>
  </div>
</header>