<div class="container">
  <div class="nav-scroller py-2 mb-4">
    <nav class="nav d-flex justify-content-between">
      <%= nav_helper "p-1 text-muted", "span" %>
      <%= login_helper "btn btn-outline-secondary btn-sm pb-1" %>
    </nav>
  </div>
</div>
