<nav class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">News</h4>
        <p class="text-white">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
      </div>
      <div class="col-sm-4 offset-md-1 py-4">
        <ul class="list-unstyled">
          <h4 class="text-white">Menü</h4>
          <%= nav_helper "text-white", "li"%>
          <li><%= link_to "Neuer Beitrag", new_blog_path, class: "text-white" if logged_in?(:site_admin) %></li>
          <li><%= login_helper 'text-white' %></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-dark bg-dark" style="background-color: #e3f2fd;">
  <div class="container d-flex justify-content-between">
    <a href="/" class="navbar-brand d-flex align-items-center text-white">
      <%= image_tag "Kaifutriteamlogo-4.png", class: "ktt-button"%>
      <strong>Kaifu Tri Team</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
  </div>
</nav>