<section class="jumbotron text-center">
  <div class="container">
    <h1>Unsere Teams</h1>
    <p class="lead text-muted">Es gibt drei Damen und drei Herren Teams. Die ersten Teams starten jeweils in der Regionalliga, dazu zwei Damenteams und eins der Herren in der Landesliga und das dritte Herrenteam in der Verbandsliga. Um in der Liga zu starten benötigt man einen Startpass der Deutschen Triathlon Union (DTU).</p>
    <p>
      <a href="#" class="btn btn-primary my-2">Wettkampfberichte</a>
      <a href="#" class="btn btn-secondary my-2">Trainings</a>
    </p>
  </div>
</section>