<main role="main" class="center-block">
  
  <div class ="row">
   
    <div class="col-md-12">
      <h1>Über uns</h1>
      <p>Gegründet im Jahr 2006. Zuhause in der KAIFU LODGE in Hamburg. Entstanden aus 40 Hobby-Triathleten, sind wir heute ein erfolgreicher Triathlon Verein. Neben dem Erfolg zählt bei uns vor allem die Freude am Sport als Mannschaft.</p> 

      <p>Zusammen mit viel Ehrgeiz und Schweiß kämpfen sich unsere Damen und Herren Teams durch die Hamburger Landes- und Verbandsliga und die Regionalliga Nord. Dafür wird gemeinsam geschwommen, Rad gefahren und gelaufen was das Zeug hält.</p>
    </div>
  </div>
</main>