<hr>
<div class ="row">
  <div class="col-md-4">
    <%= image_tag "Kaifutriteamlogo-4.png", width: 280, alt: "club logo"%>
  </div>
  <div class="col-md-8">
    <h1>Über uns</h1>

    <p>Gegründet im Jahr 2006. Zuhause in der KAIFU LODGE in Hamburg. Entstanden aus 40 Hobby-Triathleten, sind wir heute ein erfolgreicher Triathlon Verein. Neben dem Erfolg zählt bei uns vor allem die Freude am Sport als Mannschaft.</p> 

    <p>Zusammen mit viel Ehrgeiz und Schweiß kämpfen sich unsere Damen und Herren Teams durch die Hamburger Landes-, Verbands- und Regionalliga Nord. Dafür wird gemeinsam geschwommen, Rad gefahren und gelaufen was das Zeug hält.</p>
  </div>
</div>
