<main role="main" class="center-block">
  <div class="row">
    <div class="col-md-6">
      <h1>Kontakt</h1>
      <p><a href="mailto: info@kaifu-tri-team.de" "Email">Schreib uns eine Mail!</a></p>
      <p> ...oder triff uns in unserer Home Base, der KAIFU-LODGE </p>
    </div>
    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9476.812797011802!2d9.9635701!3d53.57199!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xce6f9a56d7a7e68c!2sKaifu-Lodge!5e0!3m2!1sen!2sde!4v1586791367908!5m2!1sen!2sde" width="350" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</main>

