<main role="main" class="inner cover">
  <h1 class="cover-heading">Do what you love. Together.</h1>
  <p class="lead">Werde Teil des Kaifu Tri Team.</p>
  <p class="lead">
    <%= link_to "Mitglied werden", href="mailto: info@kaifu-tri-team.de?subject=Ich möchte Mitglied des Kaifu Tri Team werden!&body=Hallo Lukas, ich möchte gerne Mitglied des Kaifu Tri Team werden.", class: "btn btn-lg btn-secondary" %>
  </p>
</main>