<main role="main" class="inner cover">
   <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column" >
    <%= video_tag(
      'mallorca-warmup-run-cut1.mp4',
      id: 'background',
      autoplay: true,
      loop: true,
      muted: true
      )
      %>
    </div>
  <h1 class="cover-heading">Do what you love. Together.</h1>
  <p class="lead">Werde Teil des Kaifu Tri Team.</p>
  <p class="lead">
    <%= link_to "Mitglied werden", href="mailto: info@kaifu-tri-team.de?subject=Ich möchte Mitglied des Kaifu Tri Team werden!&body=Hallo Lukas, ich möchte gerne Mitglied des Kaifu Tri Team werden.", class: "btn btn-lg btn-secondary" %>
  </p>
</main>