<div class="app-card-container">
  <%= image_tag('mallorca-run.JPG', id: 'background')%>
  <div class="card">
    <main role="main" class="center-block">
      <div class ="row">
       
        <div class="col-md-12">
          <h1>TRAININGS</h1>
          <p>blabla</p> 
        </div>
      </div>
    </main>
  </div>
</div>
