// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: grey;
  color: white;
}
// class = bottom and 'a' stands for link
.bottom a {
  color: pink;
}
